.services {
  position: relative;
  display: grid;
}

.service-event {
  grid-template-columns: 1fr 1.7fr 1.2fr;
  grid-template-rows: repeat(3, 400px);
}

.service-portfolio {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 500px);
}

.service-image-stock {
  grid-template-columns: repeat(4, 1fr);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background-color);
  font-family: "Shrikhand";
  font-size: 3em;
  text-shadow: 0.05em 0.05em var(--main-color);
  transition: all 0.3s;
  cursor: pointer;
  margin: 0;
}

.title:hover {
  font-size: 3.2em;
}

.description {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
  background-color: inherit;
  text-align: left;
}
