.services {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-auto-rows: 1fr;
    padding: 0.5em;
    row-gap: 0.2em;
    column-gap: 0.1em;
}

.title {
    border-style: solid;
}

.price {
    grid-column-start: 2;
    grid-row-start: 1;
    border-style: solid;
}

.description {
    border-style: solid;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}