.navigation {
    display: flex;
    position: sticky;
    height: 96vh;
    top: 2vh;
    margin-left: 1em;
}

.top {
    position: absolute;
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.navigation-button {
    padding: 0.2em;
}
