.cover-image-container {
    /*
    display: block;
    height: 10vw;
    width: 5vw;
    */
    display: block;
}

.cover-image-container.hidden {
    opacity: 0%;
}

.cover-image-grid {
    display: flex;
    width: auto;
}

.cover-image-grid-column {
    background-clip: padding-box;
    overflow: hidden;
}

.masonry-img {
    display: flex;
    height: auto;
    width: 100%;
    filter: contrast(90%);
    transition: all .3s;
}

.masonry-img:hover {
    filter: contrast(70%);
    transform: scale(1.02);
}


