.contact {
    margin-left: 0.5em;
    margin-right: 0.5em;
    overflow: hidden;
}

.contact-button {
    display: flex;
    float: right;
    column-gap: 0.2em;
    justify-content: space-between;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
