:root {
  --main-color: rgb(196, 152, 31);
  --text-color: rgb(206, 196, 186);
  --background-color: rgb(34, 31, 31);
  --highlight-color: orange;
}

* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--main-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color)
}

.background-theme {
  display: grid;
  font-size: calc(6px + 2vmin);
}

.logo-theme {
}

.fixed-theme {
  grid-column-start: 3;
}

.panel-theme {
  grid-row-start: 1;
  grid-column-start: 2;
}

/*
@media (min-width: 480px) and (max-width: 720px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 720px) and (max-width: 1080px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .panel-theme {
    width: 720px
  }
}
*/

@media (min-width: 1280px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .background-theme {
    grid-template-columns: 1fr 1000px 1fr;
    min-height: 100vh;
  }
}