:root {
  --main-color:           #B48B7D; 
  --text-color:           #593D3B; 
  --highlight-color:      #627264; 
  --background-color:     #E3E7D3; 
  --background-highlight: #E6E49F; 
  --golden-ratio:         1.618;
  --screen-width:         100vw; /* 100% of the viewport width */
  --base-size:            calc(var(--screen-width) / var(--golden-ratio));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--main-color);
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-size: calc(6px + 2vmin);
}

*::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */ 
  display: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color)
}

.main {
  align-items: center;
  justify-content: center;
}

.corner {

}

@media (min-width: 480px) and (max-width: 720px) {
  :root{
    --screen-width: 480px;
  }

}

@media (min-width: 720px) and (max-width: 1080px) {
  :root{
    --screen-width: 720px;
  }
}

@media (min-width: 1080px) {
  :root{
    --screen-width: 1080px;
  }
}